<launch>
<!--############################################ OVERVIEW ##########################################
 The purpose of this launch file is to serve as the top-most level to teleop control Stickbug robot

 launches:
  1. robot model to parameter sever
  2. rviz 
  3. drivebase teleop
  4. Hardware vs. Simulation
    4.1 Hardware:    a joint state publisher with all 39 of stickbug's joints
    4.2 Simulation:  launches gazebo and spawns robot

-->
<!--############################################ ARGUMENTS ##########################################-->
  <arg name="robot_namespace" default="stickbug"/>
  <arg name="use_hardware" default="true"/>

<!--############################################ ALGORITHMS #########################################-->
    
  <!-- robot model ____________________________________________________-->
  <include file="$(find stickbug_missions)/launch/stickbug_model.launch">
    <arg name="robot_namespace" value="$(arg robot_namespace)"/>
  </include>

  <!-- rviz ___________________________________________________________-->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find drivebase_missions)/rviz/stickbug_drivebase_rviz.rviz"/>

  <!-- drivebase teleop launch_________________________________________-->
  <include file="$(find drivebase_missions)/launch/drive_teleop.launch">
    <arg name="robot_namespace" value="$(arg robot_namespace)/drivebase"/>
    <arg name="use_hardware" value="$(arg use_hardware)"/>
  </include>

  <!-- hardware vs. simulation =====================================================================-->
  <group if="$(eval use_hardware == true)">
      <!-- stickbug all joints publisher -->
      <node name="stickbug_joint_pub" pkg="stickbug_missions" type="stickbug_joint_pub" 
        output="screen" ns ="$(arg robot_namespace)"/>
  </group>
  <group if="$(eval use_hardware == false)">
    
    <!-- launch gazebo -->
    <include file="$(find officebot)/launch/gazebo.launch">
      <arg name="robot_namespace" value="$(arg robot_namespace)"/>
    </include>

     <!-- manipulator 1 teleop launch_________________________________________-->
    <include file="$(find manipulator_missions)/launch/teleop_control.launch">
      <arg name="robot_namespace" value="$(arg robot_namespace)/arm1"/>
      <arg name="use_hardware"    value="$(arg use_hardware)"/>
      <arg name="is_right_arm"    value="false"/>
    </include>
     <!-- manipulator 2 teleop launch_________________________________________-->
    <include file="$(find manipulator_missions)/launch/teleop_control.launch">
      <arg name="robot_namespace" value="$(arg robot_namespace)/arm3"/>
      <arg name="use_hardware"    value="$(arg use_hardware)"/>
      <arg name="is_right_arm"    value="false"/>
    </include>
     <!-- manipulator 3 teleop launch_________________________________________-->
    <include file="$(find manipulator_missions)/launch/teleop_control.launch">
      <arg name="robot_namespace" value="$(arg robot_namespace)/arm5"/>
      <arg name="use_hardware"    value="$(arg use_hardware)"/>
      <arg name="is_right_arm"    value="false"/>
    </include>

  </group>
  <!--============================================================================================-->

</launch>