<launch>

  <arg name="sensorOffsetX" default="0.103"/>  <!--default 0.303-->
  <arg name="sensorOffsetY" default="0"/> <!--default 0-->
  <arg name="sensorOffsetZ" default="0.4240"/> <!--0.3-->
  <arg name="cameraOffsetZ" default="0"/>
  <arg name="twoWayDrive" default="false"/>
  <arg name="maxSpeed" default="0.7"/> <!--default 0.8  1.1 -->
  <arg name="autonomyMode" default="true"/>
  <arg name="autonomySpeed" default="0.50"/><!--default 2.0   1.5-->
  <arg name="joyToSpeedDelay" default="2.0"/>
  <arg name="goalX" default="0"/>
  <arg name="goalY" default="0"/>

  <node pkg="local_planner" type="localPlanner" name="localPlanner" output="screen" required="true">
    <param name="pathFolder" type="string" value="$(find local_planner)/paths" />
    <param name="vehicleLength" type="double" value="1.1" /> <!-- 1.35-->
    <param name="vehicleWidth" type="double" value="1.2" />
    <param name="sensorOffsetX" value="$(arg sensorOffsetX)" />
    <param name="sensorOffsetY" value="$(arg sensorOffsetY)" />
    <param name="sensorOffsetZ" value="$(arg sensorOffsetZ)" />
    <param name="twoWayDrive" value="$(arg twoWayDrive)" />
    <param name="laserVoxelSize" type="double" value="0.05" />
    <param name="terrainVoxelSize" type="double" value="0.05" />
    <param name="useTerrainAnalysis" type="bool" value="true" />
    <param name="checkObstacle" type="bool" value="true" />
    <param name="checkRotObstacle" type="bool" value="true" />
    <param name="adjacentRange" type="double" value="5" />
    <param name="obstacleHeightThre" type="double" value="0.05" />
    <param name="groundHeightThre" type="double" value="0.05" />
    <param name="costHeightThre" type="double" value="0.1" />
    <param name="costScore" type="double" value="8.0" /> <!-- 8.0 -->
    <param name="useCost" type="bool" value="true" />
    <param name="pointPerPathThre" type="int" value="2" />
    <param name="minRelZ" type="double" value="-1" />
    <param name="maxRelZ" type="double" value="1.5" />
    <param name="maxSpeed" value="$(arg maxSpeed)" />
    <param name="dirWeight" type="double" value="0.05" /><!-- default 0.02   0.05-->
    <param name="dirThre" type="double" value="90" />
    <param name="dirToVehicle" type="bool" value="true" />
    <param name="pathScale" type="double" value="2.25" />
    <param name="minPathScale" type="double" value="0.75" />
    <param name="pathScaleStep" type="double" value="0.25" />
    <param name="pathScaleBySpeed" type="bool" value="true" />
    <param name="minPathRange" type="double" value="1.0" />
    <param name="pathRangeStep" type="double" value="0.5" />
    <param name="pathRangeBySpeed" type="bool" value="true" />
    <param name="pathCropByGoal" type="bool" value="true" />
    <param name="autonomyMode" value="$(arg autonomyMode)" />
    <param name="autonomySpeed" value="$(arg autonomySpeed)" />
    <param name="joyToSpeedDelay" value="$(arg joyToSpeedDelay)" />
    <param name="joyToCheckObstacleDelay" type="double" value="5.0" />
    <param name="goalClearRange" type="double" value="0.5" />
  </node>

</launch>


